<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
      <div>
        <h1 class="text-center"><%= @cocktail.name %></h1>
        <div class="text-center"><%= image_tag @cocktail.photo.url(:standard) %></div>
        <br>
        <div>
          <% @cocktail.doses.each do |dose| %>
            <div class="text-center">
            <%= dose.description %>
            <%= dose.ingredient.name %>
            <%= link_to 'Remove', cocktail_dose_path(dose.cocktail, dose), method: :delete , data: { confirm: "Are you sure?" }%>
            </div>
          <% end  %>
        </div>

        <h2>Add an ingredient</h2>

        <%= simple_form_for [@cocktail ,@dose] do |f| %>
          <%= f.error_notification %>
          <%= f.association :ingredient %>
          <%= f.input :description %>
          <%= f.submit "Add an ingredient", class: "btn btn-primary" %>
        <% end %>
        <br>

        <%= link_to 'Back to Cocktails list', cocktails_path %>
      </div>
    </div>
  </div>
</div>
