<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |dose| %>
  <%= dose.ingredient.name %>
  <%= dose.description %>
  <%= link_to 'Remove this ingredient', cocktail_dose_path(dose.cocktail, dose), method: :delete , data: { confirm: "Are you sure?" }%>
<% end  %>

<%= link_to 'Add an ingredient', new_cocktail_dose_path(@cocktail) %>
<br>
<%= link_to 'Back to Cocktails list', cocktails_path %>
