<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |dose| %>
  <%= dose.ingredient.name %>
  <%= dose.description %>
  <%= link_to 'Remove this ingredient', cocktail_dose_path(dose.cocktail, dose), method: :delete , data: { confirm: "Are you sure?" }%>
<% end  %>

<h2>Add an ingredient</h2>

<%= simple_form_for [@cocktail ,@dose] do |f| %>
  <%= f.error_notification %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit "Add an ingredient", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back to Cocktails list', cocktails_path %>
