<h1>Add a new ingredient to <%= @cocktail.name %></h1>


<%= simple_form_for [@cocktail ,@dose] do |f| %>
  <%= f.error_notification %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit "Add an ingredient", class: "btn btn-primary" %>
<% end %>
